@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');


// Custom Color 
$white:    #fff;
$black:    #000;

// Gray
$gray-50:  #F7FAFC;
$gray-100: #EDF2F7;
$gray-200: #E2E8F0;
$gray-300: #CBD5E0;
$gray-400: #A0AEC0;
$gray-500: #718096;
$gray-600: #4A5568;
$gray-700: #2D3748;
$gray-800: #1A202C;
$gray-900: #171923;

// Blue
$blue-50:  #EBF8FF;
$blue-100: #BEE3F8;
$blue-200: #90CDF4;
$blue-300: #63B3ED;
$blue-400: #4299E1;
$blue-500: #3182CE;
$blue-600: #2B6CB0;
$blue-700: #2C5282;
$blue-800: #2A4365;
$blue-900: #1A365D;

// Teal
$teal-50:  #E6FFFA;
$teal-100: #B2F5EA;
$teal-200: #81E6D9;
$teal-300: #4FD1C5;
$teal-400: #38B2AC;
$teal-500: #319795;
$teal-600: #2C7A7B;
$teal-700: #285E61;
$teal-800: #234E52;
$teal-900: #1D4044;

$gold: #FFBF66;
$primary : $gold !default;

$nav-pills-border-radius: 10px !default;
$nav-pills-link-active-color: $gray-700!default;
$nav-pills-link-active-bg: $teal-100!default;

/* make the customizations */
$theme-colors: (
    "primary": $gold,
    "secondary": $blue-500,

    "dark": #343A40,
    "light": #F8F9FA,
    "success": #28A745,
    "danger": #DC3545,
    "warning" : #FFC107,
    "info" : #17A2B8,

    "white" : $white,
    "black" : $black,

    "blue-50" : $blue-50,
    "blue-100" : $blue-100,
    "blue-200" : $blue-200,
    "blue-300" : $blue-300,
    "blue-400" : $blue-400,
    "blue-500" : $blue-500,
    "blue-600" : $blue-600,
    "blue-700" : $blue-700,
    "blue-800" : $blue-800,
    "blue-900" : $blue-900,

    "gray-50" : $gray-50,
    "gray-100" : $gray-100,
    "gray-200" : $gray-200,
    "gray-300" : $gray-300,
    "gray-400" : $gray-400,
    "gray-500" : $gray-500,
    "gray-600" : $gray-600,
    "gray-700" : $gray-700,
    "gray-800" : $gray-800,
    "gray-900" : $gray-900,

    "teal-50" : $teal-50,
    "teal-100" : $teal-100,
    "teal-200" : $teal-200,
    "teal-300" : $teal-300,
    "teal-400" : $teal-400,
    "teal-500" : $teal-500,
    "teal-600" : $teal-600,
    "teal-700" : $teal-700,
    "teal-800" : $teal-800,
    "teal-900" : $teal-900,
)!default;


/* import bootstrap to set changes */
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";