.landing-page {

    .header{
       
        .navbar{
            background-color: transparent;

            &.active {
                background-color: #161616;
            }

            .navbar-toggler {
                border-color: transparent !important;
            }

            .nav-link {
                font-size: 1.125rem;
                line-height: 1;
                border-bottom: 2px solid rgba(255,255,255,0.0);
                
                @include media-breakpoint-up(xl){
                    margin-left: 3rem;
                }
    
                &:hover {
                    border-bottom: 2px solid $primary;

                    @include media-breakpoint-down(lg){
                        border-bottom: 2px solid transparent;
                    }

                }
    
            }

        }

        .banner-image {
            background-image: url("../../Assets/Img/hero.webp");
            background-size: cover;
            height: 815px;
        }
        
        .content {
            
            h1 {
                font-size: 3rem;
                font-weight: 700;
                color: $gray-100;

                @include media-breakpoint-down(md) {
                    font-size: 2rem;
                }

            }

            p {
                font-size: 1.125rem;
                color: $gray-300;

                @include media-breakpoint-down(md){
                    font-size: 0.875rem;
                }

            }

            button {
                padding-top: 0.6rem;
                padding-bottom: 0.6rem;
                padding-left: 2.75rem;
                padding-right: 2.75rem;
                font-size: 1.125rem;
                font-weight: 700;
                color: $gray-900;
                border-radius: 10px;
                box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
    }
    
    .about-section {
        padding-top: 8rem;
        padding-bottom: 7rem;

        @include media-breakpoint-down(sm) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

    }

    .whatwedo-section {
        background-color: $gray-100;
        padding-top: 7rem;
        padding-bottom: 7rem;

        button {
            font-size: 0.875rem;
            font-weight: 500;
            color: $gray-900;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 7px;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        &--header {
            margin-bottom: 5rem;

            @include media-breakpoint-down(lg){
                margin-bottom: 2.5rem;
            }

        }

    }

    .casestudies-section {
        padding-top: 7rem;
        padding-bottom: 7rem;

        &--header {
            margin-bottom: 5rem;

            @include media-breakpoint-down(lg){
                margin-bottom: 2.5rem;
            }
        }

        .c {

            &--body {
                
                p.category {
                    border-radius: 5px; 
                    width: fit-content;
                    line-height: 1;
                    font-weight: 500;
                    color: $gray-900;
                }


                h3 {
                    line-height: 1;
                    font-size: 1.125rem;
                    font-weight: 600;
                    color: $gray-900;
                }

                img {
                    height: 180px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                a {
                    font-weight: 500;
                }

            }
        }

    }

    .contact-section {
        background-image: url("../../Assets/Img/contact.webp");
        background-size: 100%;
        background-repeat:  no-repeat;       
        height: 869px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;    
        position: relative;
        z-index: 0;


        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        button {
            font-size: 0.875rem;
            font-weight: 500;
            color: $gray-900;
        }

    }

    .footer {
        margin-top: -5rem;
        position: relative;
        z-index: 99;

        @include media-breakpoint-down(md) {
            margin-top: -2rem;
        }

        .svg {
            z-index: 99;

            svg#wave {
                position: absolute;
                z-index: 100;
                margin-top: 1rem;
            }
        }

        .content {
            margin-top: 1rem;
            background-color: #161616;

            h4 {
                color: $primary;
                font-size: 1.125rem;
                font-weight: 700;
            }
    
            p {
                color: $gray-400;
            }
    
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
    
                li {
                    a {
                        color: $gray-400;
                        text-decoration: none;
            
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
    
            p.footer-footer {
                margin-top: 5rem;
                text-align: center;
    
                span {
                    color: $primary;
                    font-weight: 700;
                }
            }
        }

    }

}