
.header-section {
    font-size: 2.25rem;
    color: $gray-900;
    font-weight: 700;
    margin-bottom: 0.75rem;

    @include media-breakpoint-down(lg) {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    @include media-breakpoint-down(md) {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
    }
}

.desc-header {
    font-size: 1.5rem;
    color: $gray-900;
    font-weight: 700;

    @include media-breakpoint-down(lg) {
        font-size: 1.25rem;
    }


}

.text{
    font-size: 0.938rem;
    color: $gray-600;
    line-height: 1.75;

    @include media-breakpoint-down(lg) {
        font-size: 0.875rem;
    }

    @include media-breakpoint-down(md) {
        font-size: 0.75rem;
    }

}