@import './custom.scss';
@import './landing-page';
@import './typography';

body {
    background-color: $white;
    overflow-y: scroll;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

img {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}